@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');
@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');
@import url(./nav.css);
@import url(./main.css);
@import url(./nav.css);
@import url(./header.css);
@import url(./backs.css);
@import url(other.css);
@import url(./story.css);
@import url(./menu.css);
@import url(./delight.css);
@import url(online.css);
@import url(crown.css);
@import url(./chef.css);
@import url(champagne.css);
@import url(slider.css);
@import url(mezzanine.css);
@import url(./footer.css); 
@import url(../../images/Icon_R.png);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Montserrat', sans-serif;
}
a{
    color:inherit;
    text-decoration: none;
}
h1{
    all: unset;
}
h2{
    all: unset;
}
h3{
    all: unset;     
}
.container {
    margin: 0 auto;
    padding: 0;
}
button{
    all: unset;
}