.other{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.other__phone{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 20px 0 0 0;
}
.other__events{
    max-width: 600px;
    margin: 20px 0 0 0;
    line-height: 20px;
}   
.other h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    color: #292929;
}
.other span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: grey;
}
.other > div{
    height: 160px;
}