.text__main{
    padding: 0 80px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
    margin-top: 20px;
}
.main__btn{
    margin-top: 30px;
    color: rgb(197,157,95);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 3px;
    border-bottom: 2px solid rgb(197,157,95);
    letter-spacing: 2px;
}
.main__btn:hover{
    color: #333;
    border-color: #333;
    transition: 0.2s;
}
.gold{
    font-family: 'Herr Von Muellerhoff', cursive;
    font-weight: 300;
    font-size: 122px;
    color: rgb(197,157,95);
    position: absolute;
    z-index: 1;
}
.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 67px;
    color: black;
}
